{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div>
        <h1>Add a budget</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">Add</button>
        </form>
    </div>
</main>


{% endblock content %}

