{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button">Delete</button>
    </form>
    </div>
</main>

{% endblock content %}

