{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div>
        <h1>Budget</h1>
        <p>
            <a href="{% url 'create_budget' %}">Add a new expense</a>
        </p>
        {% if budget_list|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Estimated</th>
                    <th>Actual</th>
                </tr>
          
                {% for budget in budget_list %}
                <tr>
                    <td>{{ budget.name }}</a></td>
                    <td>{{ budget.description }}</td>
                    <td>${{ budget.estimate}}</td>
                    <td>${{ budget.actual }}</td>
               
                    <td>
                        <a href="{% url 'delete_budget' budget.id %}">
                            <button class="button">Delete</button>
                        </a>
                            
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </thead>
        </table>
        {% endif %}
    </div>
</main>

{% endblock content %}


