{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div>
        <h1>Guest List</h1>
        <p>
            <a href="{% url 'create_guest' %}">Add a new guest</a>
        </p>
        {% if guestlist_list|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Plus</th>
                    <th>RSVP</th>
                </tr>
                
                {% for guest in guestlist_list %}
                <tr>
                    <td>{{ guest.name }}</a></td>
                    <td>{{ guest.plus }}</td>
                    <td>{% if guest.rsvp is True %}
                        Yes
                        {% else %}
                        <form method="post" action ="{% url 'complete_rsvp' guest.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="rsvp" value="True">
                            <button>RSVP</button>
                        </form>
                    </td>
                    {% endif %}
                    
                    <td>
                        <a href="{% url 'delete_guest' guest.id %}">
                            <button class="button">Delete</button>
                        </a>
                            
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </thead>
        </table>
        {% endif %}
    </div>
</main>

{% endblock content %}



