{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div>
        <h1>Create an account</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Signup</button>
        </form>
    </div>
</main>

{% endblock content %}



