{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div>
        <a href="{% url 'update_wedding' wedding.id %}">Edit</a>
        <a href="{% url 'delete_wedding' wedding.id %}">Delete</a>
        {% comment %} <h1>{{ wedding.name }}</h1> {% endcomment %}

        <h1>{{ wedding.name }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Guests</th>
                    <th>Budget</th>
                </tr>
                {% comment %} {% for wedding in wedding_list %} {% endcomment %}
                <tr>
                    <td>{{ wedding.date }}</td>
                    <td>{{ wedding.guests }}</td>
                    <td>${{ wedding.budget }}</td>
                </tr>
                {% comment %} {% endfor %} {% endcomment %}
            </thead>
        </table>
        <h2>Planning</h2>
        <p>
            <a href="{% url 'guest_list' %}">Guest List</a>
            {% comment %} create budget/venue/guestlist/honeymoon {% endcomment %}
        </p>
        <p>
            <a href="{% url 'budget_list' %}">Budget</a>
        </p>
        {% comment %} {% if wedding_list|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Guests</th>
                    <th>Budget</th>
                </tr>
                {% for wedding in wedding_list %}
                <tr>
                    <td>{{ wedding.name }}</td>
                    <td>{{ wedding.date }}</td>
                    <td>{{ wedding.guests }}</td>
                    <td>{{ wedding.budget }}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
        {% endif %} {% endcomment %}
    </div>
</main>

{% endblock content %}



