{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div>
        {% if wedding_list|length > 0 %}
        <h1>My Wedding</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Guests</th>
                    <th>Budget</th>
                </tr>
                {% for wedding in wedding_list %}
                <tr>
                    <td><a href="{% url 'wedding_detail' wedding.pk %}">{{ wedding.name }}</a></td>
                    <td>{{ wedding.date }}</td>
                    <td>{{ wedding.guests }}</td>
                    <td>${{ wedding.budget }}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
        {% else %}
        <div>
            <h1>No weddings planned yet.</h1>
            <p>
                Want to <a href="{% url 'create_wedding' %}">create</a>
                a new one?
            </p>
        </div>
        {% endif %}
    </div>
</main>

{% endblock content %}


