{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Life</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'wedding_list' %}">My Wedding</a>
                </li>

                {% if user.is_authenticated %}

                <li>
                    <a href="{% url 'guest_list' %}">Guest List</a>
                </li>
                <li>
                    <a href="{% url 'budget_list' %}">Budget</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>

                {% else %}

                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>

                <li>
                    <a href="{% url 'signup' %}">Create an account</a>
                </li>
                 {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>